QPushButton{background-color: grey}
QLineEdit{border-radius: 5px;}
QListWidget{border-radius: 5px;}
QScrollBar:vertical { border: 2px solid grey; background: #32CC99; height: 15px; margin: 0px 20px 0 20px; }
QGroupBox{padding-top: 5px}
QLabel[isActive="true"]{background-color: grey}
QLabel a {text-decoration: none}
